.custom-shape-divider-top-1668900248 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.SvgCurve{
    background-color: #001220;
    position: absolute;
    z-index: 4;
}